/*Animations*/

@keyframes moveInLeft{
    /*Start of Animation/ Initial state*/
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    /*End of Animation/ Final State*/
    100%{
        opacity: 1;
        transform:translate(0);
    }
}

@keyframes moveInRight{
    /*Start of Animation/ Initial state*/
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    /*End of Animation/ Final State*/
    100%{
        opacity: 1;
        transform:translate(0);
    }
}

@keyframes moveInBottom{
    /*Start of Animation/ Initial state*/
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    /*End of Animation/ Final State*/
    100%{
        opacity: 1;
        transform:translate(0);
    }
}